.portfolio-item{
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    border-radius:.5rem;
}
.portfolio-item:hover{
    transition: transform .2s ease-in-out;
    cursor: pointer;
}
.portfolio-item:hover .project-about{
    display: flex;
}

.project-about{
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: 1s ease-in-out;
    padding:2rem 0;
}

.project-about h3{
    font-size:1.35rem;
    color: #eeeeee;
    text-transform: uppercase;
}
.project-description{
    color:#969EB2;
    font-size: 1.10rem;
    line-height: 1.80rem;
    text-align: center;
}
.project-links {
    margin-top:1rem;
}
.project-links a{
    padding:.4rem .6rem;
    border-radius:.3rem;
    margin-right:.5rem;
    color: #000;
    opacity:.75;
    font-size:.9rem;
}
.project-links a:hover{
    opacity:1;
}

.project-links a svg{
    margin-right:5px;
}

.project-live-demo{
    background:#BB6BD9;
}

.project-source-code{
    background:#56CCF2;
}

.project-snap img{
    min-width: min-content;
    width: 100%;
    opacity:.9;
}


@media(min-width:768px){
    .portfolio-item{
        flex-direction: row;
        justify-items: space-between;
    }
    .project-description{
        margin:0;
        max-width:70%;
    }
    .project-about{
        display: none;
    }
}
