.portfolio-item{
    background-color:var(--card-bg);
    margin-bottom:25px;
    border-radius:.7rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1.4rem 1.5rem;
}
.project-about{
    display: flex;
    flex-direction: column;
}
.project-about header{
    position: relative;
    display: flex;
    flex-direction: row;
}

.project-logo{
    filter: brightness(0.85);
}

.techs-list{
    margin-left:10px;
    padding:0 .5rem;
    border-left: 1px solid #454b4d;
    display: flex;
    align-items: center;
}

.techs-list img{
    margin:0 2px;
}

.techs-list span{
    background: rgba(0,0,0,.15);
    color: var(--text-color);
    margin-left:.5rem;
    padding:.3rem .5rem;
    border-radius: .3rem;
}

.project-description{
    color:#969EB2;
    font-size: 1.10rem;
    line-height: 1.80rem;
    margin:1rem 0 1.5rem;
}

.project-links a{
    padding:.4rem .6rem;
    border-radius:.3rem;
    margin-right:.5rem;
    color: #eeeeee;
    opacity:.85;
    font-size:.9rem;
}
.project-links a:hover{
    opacity:1;
}

.project-links a svg{
    margin-right:5px;
}

.project-live-demo{
    background:#6fc245;
}

.project-source-code{
    background: var(--web-color);
}

.project-snap img{
    min-width: min-content;
    opacity:.85;
}


@media(min-width:768px){
    .portfolio-item{
        flex-direction: row;
    }
    .project-description{
        max-width:70%;
        margin:0;
    }
    .project-about{
        justify-content: space-between;
    }
}
