.portfolio-item{
    background-color:var(--card-bg);
    margin-bottom:25px;
    border-radius:.7rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1.4rem 1.5rem;
}
.project-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-about header{
    position: relative;
    display: flex;
    flex-direction: row;
}

.techs-list{
    margin-left:10px;
    padding:0 .5rem;
    border-left: 1px solid #606668;
    display: flex;
    align-items: center;
}

.techs-list img{
    margin:0 2px;
}

.techs-list span{
    background: rgba(0,0,0,.15);
    color: var(--text-color);
    margin-left:.5rem;
    padding:.3rem .5rem;
    border-radius: .3rem;
}

.project-description{
    color:#969EB2;
    max-width:70%;
    font-size: 1.15rem;
    line-height: 1.80rem;
}

.project-links a{
    padding:.5rem .7rem;
    border-radius:.4rem;
    color:#fff;
    margin-right:.5rem;
}

.project-live-demo{
    background-color:#26AB5B;
}

.project-source-code{
    background-color: #F48433;
}

.project-snap img{
    min-width: min-content;
}

.portfolio-items-wrapper{
    float: left;
    width:100%;
}
.portfolio-items-wrapper h3{
    font-size: 1.45em;
    float: left;
    width:100%;
}

.portfolio-items-wrapper p{
    float: left;
    font-size: 1.1em;
    color:#606083;
    margin:10px 0;
    width: 100%;
}

.portfolio-items-wrapper a{
    float: left;
    width:100%;
    background-color:#009cf018;
    border:1px solid #069ff15d;
    font-size: 1.0em;
    color: #3164b1;
    padding:12px 10px;
    border-radius:.4rem;
    margin:5px 0 3px;
    transition:ease-in .2s;
    text-align: center;
    opacity:.85;
}

.portfolio-items-wrapper a:hover{
    background-color:#009cf02c;
    opacity: 1;
}

.project-patrickrios{
    background-image: linear-gradient(to right, #0083B0, #00B4DB);
}

.project-sales{
    background-image: linear-gradient(to right, #ff249c, #fc7272);
}

.project-bill-manager{
    background-image: linear-gradient(to right,#11998e, #0ff085);
}
