.modal{
    position: fixed;
    width: 100%;
    z-index:12;
    display: flex;
    flex-direction: column;
    height:100vh;
    overflow: auto;
}
.modalLayer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    top:0;
    left:0;
    z-index:1;
}
.modalLayer.lightLayer{
  background: rgba(0, 0, 0, .7);
}
.contentGrid{
  display: flex;
  flex-direction: column;
  z-index:2;
  width:100%;
  top:0;
}
.mobileHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  background-color: var(--background-color);
}
.mobileHeader.light{
  background-color:var(--gray-98);
}
.mobileHeader h2{
  color: var(--primary-text);
  font-size:1.3rem;
}
.mobileHeader.light h2{
  color: var(--gray-10);
}
.mobileHeader span{
  color: var(--gray-40);
}
.mobileHeader.light span{
  color: var(--gray-70);
}
.mobileHeader button{
  padding:1.5rem 1.25rem;
  background: none;
  border:1px solid var(--border-dark);
  border-width:0 1px 0 0;
  line-height:0;
  color:var(--gray-70);
}
.mobileHeader.light button{
  border-color: var(--border-light);
  color: var(--gray-20);
}
.rightMobileArrow{
  transform: scaleX(-1);
}
.mobileHeadLine{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:.5rem 0;
}
.left{
  background: #000;
  position: relative;
  overflow: hidden;
}
.left.light{
  background: #fff;
}
.right{
  background-color: var(--background-color);
  position: relative;
}
.right.lightRight{
 background-color: var(--background-light);
}
.right h2{
  color: var(--primary-text);
  font-size:2rem;
}
.right.lightRight h2{
  color: var(--gray-30);
}
.right p{
  color: var(--secondary-text);
  margin-top:1rem;
}
.right.lightRight p,
.right.lightRight p b{
  color: var(--secondary-text-light);
}
.right p b{
  color: #CBD4EE;
  font-weight:600;
}
.photoContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index:2;
}
.blurBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  filter: blur(80px);
  z-index:0;
  opacity: .4;
}
.projectNavigation,
.mediaNavigation{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
  position: absolute;
  padding:0 1rem;
}
.projectArrowBtn{
  padding:0;
  border:0;
  background:none;
  cursor: pointer;
  opacity:0.7;
  transition: opacity .3s ease-in-out;
}
.projectArrowBtn:hover{
  opacity:1;
}
.leftArrow,
.flipH{
  transform: scaleX(-1);
}
.leftArrow,
.rightArrow{
  position: absolute;
  z-index:2;
  display: none;
}
.leftArrow{
  left: .5rem;
}
.rightArrow{
  right:.5rem;
}
.mediaNavigation{
  top:50%;
  z-index:20;
  transform: translateY(-50%);
}
.mediaControls{
  position: absolute;
  bottom: .65rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  gap:4px;
  z-index:2;
}
.normal{
  color:#3D4455;
}
.selected{
  color: #007AFF;
}
.projectOverview{
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding:1rem 2rem;
  max-height:90%;
}
.projectInfo{
  display: none;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-dark);
}
.projectInfo.lightInfo{
  border-color: var(--border-light);
}
.projectInfo span{
  color: var(--secondary-text);
  opacity: .5;
}
.projectInfo.lightInfo span{
  color: var(--gray-10);
}
.techList{
  display: flex;
  flex-direction: row;
  gap:.5rem;
  margin-top:1rem;
}
.techItem{
  display: flex;
  flex-direction: column;
  gap:.5rem;
  align-items: center;
}
.techItem span{
  font-size: .65rem;
  color: var(--secondary-text);
}
.techTitle{
  font-size: .75rem;
  color: #505366;
  margin-top: 2rem;
}
.closeModal{
  border:0;
  padding:0;
  background: none;
  position: absolute;
  top:.5rem;
  right: .5rem;
  opacity: .5;
  transition: opacity .3s ease-in-out;
}
.closeModal:hover{
  opacity:.8;
}
.projectsLinks{
  display: flex;
  flex-direction: row;
  gap:.5rem;
  margin-top:1rem;
}
.livePreviewBtn,
.repoBtn{
  color: var(--background-color);
  padding:.25rem .5rem;
  font-size: .85rem;
  font-weight: 500;
  border-radius: .25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background .2s ease-in-out;
}
.livePreviewBtn svg,
.repoBtn svg{
  margin-left: 4px;
}
.livePreviewBtn{
  background: #30B0C7;
}
.livePreviewBtn:hover{
  background: #3ED0EB;
}
.repoBtn{
  background: #32ADE6;
}
.repoBtn:hover{
  background: #55C9FF;
}
@media screen and (min-width: 1000px) {
  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  }
  .contentGrid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    width:90%;
    height:90%;
    overflow: hidden;
  }
  .projectOverview{
    height:100%;
    overflow: auto;
  }
  .mobileHeader{
    display: none;
  }
  .projectInfo{
    display: flex;
  }
  .projectContent{
    flex:1;
    overflow: auto;
  }
  .left{
    height: 100%;
  }
  .right{
    height: 100%;
  }
  .right h2{
    display: block;
  }
  .leftArrow,
  .rightArrow{
    display: block;
}
}
@media screen and (min-width:1200px) {
  .contentGrid{
    width:86%;
    height:90%;
  }
}