.portfolio-item{
    height:230px;
    background-color:#fff;
    margin-bottom:20px;
    border-radius:5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-item h3{
    font-size: 26px;
}

.portfolio-item p{
    font-size: 18px;
    color:#4D4D65;
    margin:10px 0;
}

.portfolio-item a{
    background-color:#EAFAFF;
    font-size: 16px;
    color: #009cf0;
    padding:7px 10px;
    border-radius:20px;
    margin-top:10px;
}

#patrick-rios, #sales-manager, #invoice-manager{
    background-size: cover;
    background-position: center;
}

#patrick-rios{
    background-image: url("../images/patrickrios.png");
}

#sales-manager{
    background-image: url("../images/salesmanager.png");
}

#invoice-manager{
    background-image: url("../images/ucbillmanager.png");
}