#portfolio{
    width:100%;
    background-image: url('../images/port-bg2.png');
    background-color:#222D32;
    float: left;
    padding:10px 10%;
}

#portfolio .portfolio-wrapper{
    width:100%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap:2% 3.5%;
    margin-top:60px;
}