.main-logo{
    float:left;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:5;
}
.main-logo img{
    float:left;
}
.logo-title{
    float:left;
    color:#ECECFB;
    font-size:3.75em;
    padding:7% 20px;
}