.toggle{
    position:relative;
    border-radius:4px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.35rem .65rem;
    background-color: #2A2D2D;
    transition: background .3s ease-in-out;
}
.toggle.light{
    background-color: #e4e7e7;
}