.toggle{
    position:relative;
    border-radius:4px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.35rem .65rem;
}
.active,
.inactive{
    transition: all .3s ease-in-out;
}
.active{
    transform: translateX(100%);
}
.inactive{
    transform: translateX(0);
}