.toggle{
    position:relative;
    border-radius:4px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.35rem .65rem;
    background-color: #2A2D2D;
    transition: background .3s ease-in-out;
}
.toggle.light{
    background-color: #DADDDD;
}
.active,
.inactive{
    transition: all .3s ease-in-out;
}
.active{
    transform: translateX(100%);
}
.inactive{
    transform: translateX(0);
}