#experience-card{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:20px 25px 55px;
    border-bottom:1px solid #eee;
}

#experience-card img{
    margin:0;
}

#experience-card h2{
    font-size:1.575em;
    line-height:2.6em;
    color: rgba(34,45,50, .9);
}

#experience-card .exp-description{
    color: #737385;
    font-size:1.025em;
    line-height:1.2em;
    margin-bottom:15px;
}

#experience-card h4{
    color:#54a92c;
    margin-top:15px;
}

#experience-card .exp-item{
    color: #374045;
    font-size:1.125em;
    margin-top:10px;
}

@media all and (min-width:768px){
    #experience-card{
        width: 33.33%;
        border-right:1px solid #eee;
        border-bottom:none;
    }
    #experience-card:hover{
        background-color: #f8f8f8;
    }
}