#about{
    width: 100%;
    display: flex;
    padding: 8.5rem 0 7rem;
}

.about-columns{
    display: grid;
    grid-template-rows:1fr 1fr;
    gap:1.5rem;
}

.card-bg{
    background-color: var(--card-bg);
}

.aboutme-card{
    padding:3rem 2rem ;
    display: flex;
    flex-direction: column;
    border-radius:.4rem;
    border-bottom: 1px solid #548126;
}

.about-desc{
    align-items: center;
    justify-content: center;
    padding-top:7rem;
    position: relative;
}

.about-desc img{
    position: absolute;
    top:-25%;
}

.about-desc p{
    color: var(--text-color);
    text-align: center;
    font-size: 1.15rem;
    line-height: 1.85rem;
    max-width: 90%;
}

.about-stack-card{
    display: flex;
}

.about-what{
    display: grid;
    grid-row: 1fr 1fr;
    gap:1rem;
}

.about-what > div{
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    justify-content: center;
}

.stack-items{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:.5rem 1rem;
}

.about-web{
    border-bottom: 1px solid var(--web-color);
    color: var(--web-color);
}

.about-desk{
    border-bottom: 1px solid var(--desk-color);
    color: var(--desk-color);
}

.about-web span, 
.about-desk span{
    padding:.4rem .6rem;
    font-size:.5rem 1.0rem;
    background: rgba(0, 0, 0, 0.05);
    margin:.4rem 0 0 .4rem;
    border-radius:.5rem;
    opacity:.75;
    color: var(--text-color);
    display: flex;
    gap:.3rem;
}

.about-card-title{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:.5rem 1.5rem;
    gap:.5rem;
}

.about-card-title h3{
    font-weight:500;
    font-size:1.0rem;
}

.download-resume{
    width: max-content;
    padding:13px 16px;
    background-color: #225fd8;
    color: #ddf1f7;
    font-size:.87em;
    border-radius:.4rem;
    cursor: pointer;
    margin-top:30px;
    transition: ease-in-out .2s;
    font-weight: 500;
}

.download-resume svg{
    margin-right:5px;
}

.download-resume:hover{
    background-color: #134ab9;
}

@media all and (min-width:768px){
    .about-columns{
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto auto;
    }

}