#about{
    width: 100%;
    padding:60px 12% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-columns{
    display: flex;
    flex-direction: column;
    margin-left:0;
    align-items: center;
}

.about-logo{
    display: none;
    max-height: 350px;
}

.download-resume{
    width: max-content;
    padding:13px 16px;
    background-color: #2498d6;
    color: #ddf1f7;
    font-size:.87em;
    border-radius:.4rem;
    cursor: pointer;
    margin-top:30px;
    transition: ease-in-out .2s;
    font-weight: 500;
}

.download-resume:hover{
    background-color: #1684c0;
}

@media all and (min-width:768px){
    #about{
        width: 100%;
        padding:60px 10% 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-profile-picture{
        width:320px;
        border-radius:100%;
    }

    .about-columns{
        align-items: flex-start;
    }

    .download-resume{
        margin-top:0;
    }

    .about-logo{
        display: block;
    }
}