.header{
    width:100%;
    margin-top:60px;
    position: relative;
    display: flex;
    justify-content: center;
    padding:2rem 0;
}
.headerBackground{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    z-index:0;
    opacity: .7;
}
.headerBackground img{
    width:100%;
}
.profile{
    width:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
    margin-top:2rem;
}
.profile img{
    width: max-content;
}
.profile h2{
    color: var(--primary-text);
    font-size:1.65rem;
    margin-top:.5rem;
    text-align: center;
    padding:0 2rem;
}
.profile h2.lightHeadline{
    color: var(--gray-20);
}
.profile p{
    color: var(--secondary-text);
    text-align: center;
    font-size:1rem;
    margin-top:.5rem;
    line-height: 1.65rem;
    width:85%;
}
.profile p.lightP{
    color: #3D4B75;
}
.profile p b{
    color: #B8C3E5;
}
.profile p.lightP b{
    color: #3D4B75;
}
.titleGradient{
    background: linear-gradient(to right, #20BF55, #01BAEF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.actionButtons{
    display: flex;
    flex-direction: column;
    margin-top:2rem;
    gap: 1rem;
    width:80%;
}
.actionButtons a{
    padding:1rem 1.65rem;
    font-weight:500;
    border-radius:2rem;
    font-size:1rem;
    text-align: center;
}
.getInTouchButton{
    border:1px solid var(--border-dark);
    color: var(--primary-text);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.5rem 1rem;
    gap: .5rem;
}
.getInTouchButton.light{
    border-color: var(--gray-80);
}
.getInTouchButton a{
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition:color .25s ease-in-out;
}
.getInTouchButton a.lightA{
    color: #3A4157;
}
.downloadCvButton{
    background: var(--primary-blue);
    color: var(--primary-text);
}
.linked:hover,
.linked:hover.lightA{
    color: #4fc2f7;
}
.github:hover,
.github:hover.lightA{
    color: #b287f1;
}
.insta:hover,
.insta:hover.lightA{
    color: #f67da6;
}

@media screen and (min-width:400px) {
    .profile h2{
        padding:0 1rem;
    }
    .actionButtons{
        width:70%;
    }
}

@media screen and (min-width:500px) {
    .actionButtons{
        width:60%;
    }
}

@media screen and (min-width:600px){
    .profile h2{
        padding:0;
        font-size:2rem;
    }
    .profile p{
        font-size:1rem;
        margin-top:.5rem;
        line-height: 1.85rem;
    }
    .actionButtons{
        width:40%;
    }
    .profile{
        margin-top:3rem;
    }
}

@media screen and (min-width:760px) {
    .profile h2{
        font-size:2.25rem;
    }
    .profile p{
        font-size:1.05rem;
        width:80%;
    }
}
@media screen and (min-width:820px) {
    .header{
        padding:3rem 0;
    }
    .actionButtons{
        width:auto;
        flex-direction: row;
        gap:.5rem;
    }
    .profile p{
        font-size:1.05rem;
        width:80%;
    }
}
@media screen and (min-width:860px) {
    .profile p{
        width:70%;
    }
}
@media screen and (min-width:1100px) {
    .profile p{
        width:60%;
    }
}