.header{
    width:100%;
    margin-top:60px;
    position: relative;
    display: flex;
    justify-content: center;
    padding:2rem 0;
}
.headerBackground{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    z-index:0;
    opacity: .7;
}
.headerBackground img{
    width:100%;
}
.profile{
    width:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
    margin-top:2rem;
}
.profile img{
    width: max-content;
}
.profileHeadline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:1rem;
}
.profileHeadline h2{
    background: linear-gradient(to right, #20BF55, #01BAEF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:1.65rem;
    line-height:3rem;
    text-align: center;
}
.profileHeadline p{
    font-weight:100;
    color: var(--secondary-text);
    text-align: center;
}
.profileHeadline p.light{
    color: var(--gray-10);
}
.taglinePtBr{
    font-size:1.25rem !important;
}
.taglineEng{
    font-size:1.35rem !important;
}
.profile p.lightP{
    color: #3D4B75;
}
.profile p b{
    color: #B8C3E5;
}
.profile p.lightP b{
    color: #3D4B75;
}
.actionButtons{
    display: flex;
    flex-direction: column;
    margin-top:2rem;
    gap: 1rem;
    width:80%;
}
.actionButtons a{
    padding:1rem 1.65rem;
    font-weight:500;
    border-radius:2rem;
    font-size:1rem;
    text-align: center;
}
.getInTouchButton{
    border:1px solid var(--border-dark);
    color: var(--primary-text);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.5rem 1rem;
    gap: .5rem;
}
.getInTouchButton.light{
    border-color: var(--gray-80);
}
.getInTouchButton a{
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition:color .25s ease-in-out;
}
.getInTouchButton a.lightA{
    color: #3A4157;
}
.downloadCvButton{
    background: var(--primary-blue);
    color: var(--primary-text);
}
.linked:hover,
.linked:hover.lightA{
    color: #4fc2f7;
}
.github:hover,
.github:hover.lightA{
    color: #b287f1;
}
.insta:hover,
.insta:hover.lightA{
    color: #f67da6;
}

@media screen and (min-width:320px) {
    .taglinePtBr{
        font-size:1.5rem !important;
    }
    .taglineEng{
        font-size:1.68rem !important;
    }
    .profileHeadline h2{
        font-size:2rem;
        line-height:3rem;
    }
}

@media screen and (min-width:400px) {
    .actionButtons{
        width:70%;
    }
}

@media screen and (min-width:500px) {
    .actionButtons{
        width:60%;
    }
}

@media screen and (min-width:600px){
    .actionButtons{
        width:40%;
    }
    .profileHeadline h2{
        font-size:2.2rem;
    }
    .taglinePtBr{
        font-size:1.65rem !important;
        transform: translateY(-0.2rem);
    }
    .taglineEng{
        font-size:1.85rem !important;
    }
}
@media screen and (min-width:820px) {
    .actionButtons{
        width:auto;
        flex-direction: row;
        gap:.5rem;
    }
    .taglinePtBr{
        font-size:2rem !important;
        transform: translateY(-0.5rem);
    }
    .taglineEng{
        font-size:2.2rem !important;
    }
    .profileHeadline h2{
        font-size:2.65rem;
        line-height:4rem;
    }
}
@media screen and (min-width:1100px) {
    .header{
        height: calc(100vh - 80px);
        padding:0;
    }
}