.header{
    width:100%;
    margin-top:60px;
    position: relative;
    display: flex;
    justify-content: center;
}
.headerBackground{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    z-index:0;
}
.profile{
    width:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
    margin-top:3rem;
}
.profile img{
    width: max-content;
}
.profile h2{
    color: var(--primary-text);
    font-size:2.25rem;
    margin-top:1rem;
}
.profile p{
    color: var(--secondary-text);
    text-align: center;
    font-size:1.05rem;
    margin-top:.5rem;
    line-height: 1.85rem;
}
.profile p b{
    color: #B8C3E5;
}
.titleGradient{
    background: linear-gradient(to right, #20BF55, #01BAEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.actionButtons{
    display: flex;
    flex-direction: row;
    margin-top:3rem;
    gap: 1rem;
}
.actionButtons a{
    padding:.65rem 1.25rem;
    font-weight:500;
    border-radius:2rem;
    font-size:1.05rem;
}
.getInTouchButton{
    border:1px solid var(--secondary-text);
    color: var(--primary-text);
}
.downloadCvButton{
    background: var(--primary-blue);
    color: var(--primary-text);
}