.portfolio{
    margin-top:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio > h3{
    margin-bottom:1rem;
    text-align: left;
}
.strokeText{
    font-size: 3rem;
    color: var(--background-color);
    text-shadow: 
    1px 1px 0 var(--secondary-text), /* Sombras horizontais e verticais */
    -1px 1px 0 var(--secondary-text),
    1px -1px 0 var(--secondary-text),
    -1px -1px 0 var(--secondary-text),
    0 1px 0 var(--secondary-text),
    0 -1px 0 var(--secondary-text),
    1px 0 0 var(--secondary-text),
    -1px 0 0 var(--secondary-text);
}
.strokeText.lightTitle{
    color: var(--gray-98);
    text-shadow: 
    1px 1px 0   var(--gray-30), /* Sombras horizontais e verticais */
    -1px 1px 0  var(--gray-30),
    1px -1px 0  var(--gray-30),
    -1px -1px 0 var(--gray-30),
    0 1px 0     var(--gray-30),
    0 -1px 0    var(--gray-30),
    1px 0 0     var(--gray-30),
    -1px 0 0    var(--gray-30);
}

.section{
    width:100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding:0 1rem;
}
.sectionTitle{
    color: var(--gray-70);
    font-size: .85rem;
}
.sectionContent,
.professionalSection{
    width:94%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.sectionContent{
    margin-top:1rem;
}

@media screen and (min-width: 600px) {
    .sectionContent,
    .professionalSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto; 
        gap: .25rem;
    }
    .sectionContent{
        grid-template-columns:1fr 1fr;
        margin-top:.25rem;
    }
    .firstProject{
        grid-column: span 1;
        grid-row: span 2;
    }
}

@media screen and (min-width:800px) {
    .sectionContent{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr); 
    }
    .verticalElement{
        grid-column: 3 / 4; 
        grid-row: 1 / 3; 
    }
}
@media screen and (min-width:840px) {
    .section{
        width:840px;
        padding:0;
    }
}

@media screen and ( min-width: 1080px) {
    .professionalSection,
    .sectionContent{
        width: 100%;
    }
}