#contact{
    background: #273236;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:2.5rem;
    padding:0 5%;
}

#contact h2{
    width: 100%;
}


@media all and (min-width:768px){
    #contact{
       padding:2rem 20%;
    }
}