#form{
    float: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top:25px;
}
#form h3{
    margin-bottom:15px;
    font-size:1.6em;
}
#form legend{
    color:#525259;
    font-weight:500;
    font-size: 19px;
    margin-bottom: 5px;
}

#form input, textarea{
    background-color: #ECECFB;
    border:2px solid #ECECFB;
    padding:15px;
    border-radius:5px;
    margin-bottom: 13px;
    font-size: 19px;
}

#form input:focus, textarea:focus{
    border-color: #167DFF;
    background-color:#fdfdfd;
}

#form textarea{
    height: 200px;
}

#form input::placeholder, textarea::placeholder{
    color: #B9B9C8;
}

#form .send-button{
    background-color:#46cc6e;
    border:none;
    padding:13px 23px;
    color:#fff;
    font-size:1.2em;
    border-radius:.4rem;
    width: fit-content;
    cursor: pointer;
    margin-top:5px;
}

#form .send-button:hover{
    background-color: #2dad53;
}

#processing-send-email{
    position:absolute;
    background-color: rgb(255, 255, 255,.95);
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send-result-wrapper{
    background-color:#fff;
    border: 1px solid #eee;
    padding:55px 45px;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px #eee;
}

.envelope-icon{
    color:#8AE133;
}

#processing-send-email span{
    font-size: 1.3em;
    margin-top: 8px;
    text-align: center;
}

.sending{
    color:#8AE133;
}

.send-success, .wink-icon, .send-success-button{
    color:#4D7FB6;
}

.send-fail, .send-success{
    margin-top:5px;
}

.send-success-button, .send-fail-button{
    padding:8px 15px;
    border-radius:30px;
    background-color:#fff;
    font-size: 1.2em;
    margin-top:25px;
    cursor: pointer;
}
.send-success-button{
    border:1px solid #0083B0;
}

.send-fail, .meh-icon, .send-fail-button{
    color:#d46363;
}

.send-fail-button{
    border:1px solid #d46363;
}

.envelope-icon{
    font-size: 4.2em;
    animation: infiniteRotate 1.65s linear infinite;
}

.meh-icon, .wink-icon{
    font-size: 4.5em;
}

@keyframes infiniteRotate {    
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotateY(360deg); }
}

.display{
    display: block !important;
}

.hide{
    display: none !important;
}

@media all and (min-width:768px){
    #form{
        width: 55%;
        margin-top:0;
    }
}
