#social{
    float: left;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#fafafa;
    height: 83vh;
}

.social-wrapper{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    background-image: url('../../about/images/6715.jpg');
    background-size: cover;
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.social-wrapper h3{
    margin-bottom: 20px;
    font-size: 1.65em;
}

.social-medias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-piper-icon{
    font-size:5.5em;
    transform: rotateY(180deg);
}

.social-links a{
    padding:10px 12px;
    font-size:1.5em;
    color: #000;
    border-radius: 100%;
    margin-right:8px;
    background-color: rgba(255, 255, 255, .45);
}
.social-links a:hover{
    color:#74cf47;
    transition: color .45s;
    transition: transform .30s;
    transform: scale(110%);
}


.social-links .facebook-link{
    padding:10px 16px;
}

.social-links .linked-link{
    padding:10px 14px;
}