.projectOverview{
    width: 80%;
    margin-left:10%;
    padding:2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header{
    display: flex;
    flex-direction: row;
    gap:.5rem;
}
.goBack{
    background:none;
    border: none;
    opacity:.5;
    transition: all .25s ease-in-out;
    cursor: pointer;
    transform: scale(1.2);
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2px;
}
.goBack:hover{
    opacity:1;
    transform: scale(1.35);
}
.goBack span{
    font-size:.65rem;
    color: var(--gray-30);
}
.keywordContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:8px;
    margin-top:1rem;
}
.keyword{
    background: var(--gray-12);
    border-radius:.25rem;
    color: var(--gray-50);
    padding:.45rem;
    font-size:.85rem;
}
.keyword.light{
    background: var(--gray-90);
    color: var(--gray-60);
}
.title{
    font-size:3rem;
    color: var(--gray-90);
}
.title.light{
    color: var(--gray-20);
}
.paragraph{
    color: var(--gray-70);
    margin-top:1rem;
}
.slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:2rem;
}
.externalLinks{
    display: flex;
    flex-direction: row;
    gap:10px;
    font-size:.85rem;
    margin-top: 1rem;
}
.caption{
    width: 100%;
    padding:1.65rem 1.5rem;
    background: #000;
    color:var(--gray-80);
    text-align: center;
    font-weight:300;
    line-height:1.85rem;
}
.caption a,
.caption b{
    font-weight:700;
}
.caption b{
    color:var(--gray-90);
}