.card{
    border-radius:.5rem;
    background: var(--gray-12);
    padding:1rem;
    border:1px solid var(--gray-20);
}
.card h4{
    color: var(--gray-80);
}
.cardTitle{
    color: var(--gray-80);
    font-size:1.15rem;
    margin-bottom:1rem;
}
.postUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:.5rem;
}
.card p{
    color: var(--gray-60);
    font-size:.95rem;
}