#footer{
    float:left;
    width: 100%;
    padding:20px 0;
    background-color: #eee;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer span{
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px 0;
}

.react-bg, .coffee-bg{
    padding:3px 5px;
    border-radius:3px;
    margin:0 3px;
}
.react-bg{
    background-color: #61dafb;
}

.coffee-bg{
    background-color:#f4d673;
}

@media all and (min-width:768px){
    #footer{
        padding:40px 10%;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }
    .copyright{
        float: left;
        margin-left: 10%;
    }
    
    .made-with{
        float:right;
        margin-right:10%;
    }
}