:root{
    --logo-action:#4fb442;
    --logo-action-hover: #3c9430;
}

.main-logo{
    position: absolute;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    width: max-content;
    left:50%;
    top:48%;
    transform: translate(-50%,-50%);
    max-width: 80%;
}
.logo-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1rem;
}
.logo-desc{
    display: flex;
    flex-direction: row;
}
.logo-desc .logo-icon{
    margin-right:1.5rem;
}

.logo-desc h1{
    color:#DFE6FA;
    line-height: 1.45em;
    text-align: center;
}
.logo-desc p{
    color:#A9B5D3;
    font-size:1.15em;
    line-height:1.55em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-desc p img{
    margin-right:.3rem;
}


@media all and (min-width: 768px){
    .main-logo{
        flex-direction:row;
    }
    .logo-desc p{
        justify-content: flex-start;
    }
}