
.main-menu{
	width: 100%;
	position: fixed;
	padding:.5rem 0;
	z-index:5;
	background-color: var(--menu-bg);
	display: flex;
	flex-direction: column-reverse;
}

.main-menu > div{
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:0 .5rem;
}

.main-menu ul{
	height: 100vh;
	display: none;
	flex-direction: column;
	padding-top: 2rem;
	align-items: center;
}

.menu-langs{
	display: flex;
	align-items: center;
	justify-content: left;
	padding:.2rem .5rem;
	color:#818FA7;
	background: rgba(0, 0, 0, .12);
	border-radius:.3rem;
	margin-left:1rem;
	font-size:.9rem;
}
.menu-langs img{
	margin-left: .5rem;
	opacity:.35;
}
.menu-langs img:hover{
	opacity: .5;
	cursor: pointer;
}
.menu-selected-lang{
	opacity:1 !important;
}
.mobile-menu-button{
	background-color: rgba(189, 188, 212, 0.2);
	color:#5d98d6;
	border:none;
	padding:8px 10px;
	float:left;
	border-radius:3px;
	font-size: 1.0em;
}

.display-menu{
	display: flex !important;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (min-width:768px){
	.main-menu{
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.main-menu > div{
		width: auto;
	}

	.mobile-menu-button{
		display: none;
	}

	.main-menu ul{
		display: flex;
		flex-direction: row;
		height: auto;
		padding:.2rem 0;
		justify-content: center;
	}

}