
.main-menu-item{
    padding:1rem 1.3rem;
    border-radius:7px;
    margin:.5rem 0;
    cursor: pointer;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.212);
    color: var(--menu-item-text);
    text-align: center;
}
.main-menu-item a{
    font-size:1.35rem;
    font-weight:300;
    color: var(--menu-item-text);
}

.active-menu-item{
	color: #8AE133 !important;
}

@media all and (min-width:768px){
    .main-menu-item{
        padding: 0;
        border-radius: 0;
        margin:0 .7rem;
        background: none;
        width: auto;
    }
    .main-menu-item a{
        font-size:1.15rem;
    }
}